flow.json
[
   {
      "id": "1c2b92db.9682ad",
      "type": "tab",
      "label": "Flow 2",
      "disabled": false,
      "info": ""
   },
   {
      "id": "8f76f183.49d75",
      "type": "ui_form",
      "z": "1c2b92db.9682ad",
      "name": "",
      "label": "",
      "group": "1e7bd5e9.eb3c7a",
      "order": 1,
      "width": 0,
      "height": 0,
      "options": [
         {
            "label": "Country",
            "value": "a",
            "type": "text",
            "required": true,
            "rows": null
         },
         {
            "label": "Year",
            "value": "b",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Status",
            "value": "c",
            "type": "text",
            "required": true,
            "rows": null
         },
         {
            "label": "BMI",
            "value": "d",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Adult_Mortality",
            "value": "e",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Infant_Deaths",
            "value": "f",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Alcohol",
            "value": "g",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Percentage_Expenditure",
            "value": "h",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Hepatitis_B",
            "value": "i",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Under_Five_Deaths",
            "value": "j",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Polio",
            "value": "k",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Total_Expenditure",
            "value": "l",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Diphtheria",
            "value": "m",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "HIV/AIDS",
            "value": "n",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "GDP",
            "value": "o",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Population",
            "value": "p",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Thinness_10_19_years",
            "value": "q",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Thinness_5_9_years",
            "value": "r",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Income_Composition_of_Resources",
            "value": "s",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Schooling",
            "value": "t",
            "type": "number",
            "required": true,
            "rows": null
         },
         {
            "label": "Measles",
            "value": "u",
            "type": "number",
            "required": true,
            "rows": null
         }
      ],
      "formValue": {
         "a": "",
         "b": "",
         "c": "",
         "d": "",
         "e": "",
         "f": "",
         "g": "",
         "h": "",
         "i": "",
         "j": "",
         "k": "",
         "l": "",
         "m": "",
         "n": "",
         "o": "",
         "p": "",
         "q": "",
         "r": "",
         "s": "",
         "t": "",
         "u": ""
      },
      "payload": "",
      "submit": "Predict",
      "cancel": "cancel",
      "topic": "",
      "x": 70,
      "y": 100,
      "wires": [
         [
            "e323ad7e.1cebd"
         ]
      ]
   },
   {
      "id": "e323ad7e.1cebd",
      "type": "function",
      "z": "1c2b92db.9682ad",
      "name": "pre token",
      "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"d-imUvKPxbA63aDtsXyIHDFBVxo9M_vcqui1twVjO_wJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 220,
      "y": 100,
      "wires": [
         [
            "8b5dac03.2daed"
         ]
      ]
   },
   {
      "id": "68a7c40a.7cb5fc",
      "type": "http request",
      "z": "1c2b92db.9682ad",
      "name": "",
      "method": "POST",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://eu-gb.ml.cloud.ibm.com/v4/deployments/2fd73afb-952d-4b45-8dde-f5c9456c29ac/predictions",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "basic",
      "x": 470,
      "y": 180,
      "wires": [
         [
            "be2768bb.bc65c8",
            "17f50917.63b667"
         ]
      ]
   },
   {
      "id": "f46f56ff.e28548",
      "type": "debug",
      "z": "1c2b92db.9682ad",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 750,
      "y": 280,
      "wires": []
   },
   {
      "id": "17f50917.63b667",
      "type": "function",
      "z": "1c2b92db.9682ad",
      "name": "getFrom Endpoint",
      "func": "msg.payload=msg.payload.predictions[0];\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 490,
      "y": 280,
      "wires": [
         [
            "f46f56ff.e28548",
            "c8fc20f.8363fe"
         ]
      ]
   },
   {
      "id": "be2768bb.bc65c8",
      "type": "debug",
      "z": "1c2b92db.9682ad",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 710,
      "y": 180,
      "wires": []
   },
   {
      "id": "80959228.e14cb",
      "type": "function",
      "z": "1c2b92db.9682ad",
      "name": "sendTo Endpoint",
      "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"bbd62888-d394-45d3-bbb4-0484b136c6af\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload =  {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\",\n\"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \",\n\"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\",\n\"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\",\n\"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 210,
      "y": 180,
      "wires": [
         [
            "68a7c40a.7cb5fc"
         ]
      ]
   },
   {
      "id": "8b5dac03.2daed",
      "type": "http request",
      "z": "1c2b92db.9682ad",
      "name": "",
      "method": "POST",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://iam.cloud.ibm.com/identity/token",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "basic",
      "x": 370,
      "y": 100,
      "wires": [
         [
            "80959228.e14cb"
         ]
      ]
   },
   {
      "id": "c8fc20f.8363fe",
      "type": "ui_text",
      "z": "1c2b92db.9682ad",
      "group": "1e7bd5e9.eb3c7a",
      "order": 2,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Prediction",
      "format": "{{msg.payload}}",
      "layout": "row-spread",
      "x": 720,
      "y": 400,
      "wires": []
   },
   {
      "id": "1e7bd5e9.eb3c7a",
      "type": "ui_group",
      "z": "",
      "name": "LifeExpectancy",
      "tab": "c9148af2.6920f8",
      "order": 1,
      "disp": true,
      "width": "6",
      "collapse": false
   },
   {
      "id": "c9148af2.6920f8",
      "type": "ui_tab",
      "z": "",
      "name": "Home",
      "icon": "dashboard",
      "disabled": false,
      "hidden": false
   }
]